.pokeCard {
  background-color: white;
  width: 326px;
  height: auto;
  padding: 1rem;
  border-radius: 16px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-pokemon-red-fire);
  border: 2px solid gray;
}
.image{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(98, 101, 101);
  border-radius: 25px;
}
.nameandid{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nameandid h1{
  font-size: 25px;
}
.pokeCard button{
  color: red;
}

.teamsMenu{
  display: flex;
  flex-direction: column;
  margin-top: 13rem;
  padding: 1rem;
  position: absolute;
  background-color: white;
   border-radius: 16px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border: 2px solid gray;
}
.pokeCard .teamsMenu button{
  color: black;
  transition: all 0.5s;
}
.pokeCard .teamsMenu button:hover{
  color: red;
}
.teamsSuccess{
  display: flex;
  align-items: center;
  z-index: 99898;
  text-align: center;
  width: 100%;
  height: 25%;
  flex-direction: column;
  margin-top: 0;
  padding: 1rem;
  right: 0;
  position: absolute;
  background-color: white;
   border-radius: 16px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border: 2px solid gray;
}
.teamsSuccess button{
  align-self: flex-end;
}
.teamsMenuHide{
  display: none;
}
@media screen and (max-width:400px) {
  .pokeCard{
    width: 100%;
  }
  
}

