@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    overflow-x: hidden;
}
@font-face {
    font-family: 'Pokemon Solid';
    src: url('./Pokemon\ Solid.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pokemon Red Fire';
    src: url('./PKMN\ RBYGSC.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pokemon Hollow';
    src: url('./Pokemon\ Hollow.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --font-pokemon-hollow: 'Pokemon Hollow';
    --font-pokemon-title:'Pokemon Solid';
    --font-pokemon-red-fire: 'Pokemon Red Fire';
    --font-pixel: 'Press Start 2P', cursive;
}

body{
    height: 100%;
}