.wrap{
    padding-top: 100px;
    background-color: rgb(7, 96, 93) ;
    height: 100vh;
    font-family: var(--font-pokemon-red-fire);
    display: flex;
    justify-content: center;
}
.inside{
    background-color: #03a996;
    opacity: 0.8;
    background-image: linear-gradient(0deg, #03a996 50%, #087860 50%);
    background-size: 6px 6px;
    height: 90%;
    width: 90%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block{
    width: 80%;
    border: 4.5px solid rgb(14, 37, 130);
    box-shadow: inset 2px 2px 2px 2px white; 
    margin-top: 2rem;
    padding: 1rem;
    background-image: url(../../Assets/button\ background.png);  
    background-position: 150px;
    background-size: cover;
    height: 6rem;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    display: inline-flex;
}
.block:hover{
    border: 5px solid red;
    filter: brightness(1.2);
}
.block h1{
    text-align: center;
}

.blockInvisible{
    width: 50%;
    border: 4px dotted rgb(63, 52, 74);
    margin-top: 2rem;
    padding: 1rem;
    background-color: rgb(7, 96, 93);
    height: 5rem;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    cursor: pointer;
    display: inline-flex;
}
.blockInvisible img{
    width: 45px;
    height: auto;
}
.pokeimage{
    position: relative;
    right: 15px;
    bottom: 20px;
    width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../Assets/pokeclosed.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.block:hover .pokeimage{
    background-image: url(../../Assets/pokeopen.png);
}
.releasebutton{
    border: 4.5px solid rgb(14, 37, 130);
    padding: 0.5rem;
    background-color: rgb(176, 97, 176);
    border-radius: 10px;
}
.block:hover .releasebutton{
    border: 4.5px solid red;
}

@media screen and (max-width:400px) {
    .block{
        display: flex;
        height: auto;
        flex-direction: column;
    }
    .releasebutton{
        border: 3px solid rgb(14, 37, 130);
        padding: 0.3rem;
        background-color: rgb(176, 97, 176);
        border-radius: 10px;
    }
}
