.home{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../Assets/pokemon-fire-red-02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--font-pokemon-red-fire);
}
.textGlobe{
    background-color: white;
    text-align: left;
    line-height: 50px;
    height: fit-content;
    margin-top: 45rem;
    color: rgb(52, 52, 52);
    padding: 3rem;
    border-radius: 25px;
    width: 80%;
    font-size: 35px;
    border: 8px solid rgb(73, 209, 239);
    box-shadow: 5px 5px 5px rgb(49, 141, 162);
}
.textGlobe p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 2rem auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  width: 0;
  animation: 
    typing 3.5s steps(50, end) forwards;
    animation-delay: 2s ;
}
.textGlobeMobile{
    background-color: white;
    text-align: left;
    line-height: 50px;
    height: fit-content;
    margin-top: 45rem;
    display: none;
    color: rgb(52, 52, 52);
    padding: 3rem;
    border-radius: 25px;
    width: 80%;
    font-size: 35px;
    border: 8px solid rgb(73, 209, 239);
    box-shadow: 5px 5px 5px rgb(49, 141, 162);
}
.textGlobeMobile p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 2rem auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  width: 0;
  animation: 
    typing 3.5s steps(50, end) forwards;
    animation-delay: 2.9s ;
}
.textGlobeMobile h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 2rem auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  width: 0;
  animation: 
    typing 2.5s steps(50, end) forwards;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100%; }
}

.textGlobe h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 2rem auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 2.5s steps(50, end);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@media screen and (max-width:1500px) {
    .textGlobe{
        width: 90%;
        padding: 2rem;
        font-size: 30px;
    }
}
@media screen and (max-width:1100px) {
    .textGlobe{
        width: 100%;
        margin-top: 45rem;
        padding: 1rem;
        font-size: 25px;
    }    
}
@media screen and (max-width: 816px) {
    .textGlobe{
        margin-top: 44rem;
        font-size: 20px;
    }    
}
@media screen and (max-width: 675px) {
    .textGlobeMobile{
        margin-top: 35rem;
        width: 100%;
        padding: 1rem;
        font-size: 25px;
        display: flex;
        flex-direction: column;
    }  
    .textGlobe{
        display: none;
    }
}
@media screen and (max-width: 460px) {
     .textGlobeMobile{
        font-size: 20px;
        padding-left: 0;
    }  
}
@media screen and (max-width: 380px) {
    .textGlobeMobile{
        font-size: 15px;
        line-height: 35px;
    }  
}
