@import url(../../global/input.css);

.navbar{
    /* background-color: #e60012;*/
    background-image: url('../../Assets/d6cy6ch-ae2a1bd6-97a2-490a-8427-476d526f6853.jpg');
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 9999;
    justify-content: space-between;
    height: 85px;
    font-family: var(--font-pokemon-title) ;
    color: black;
    align-items: center;
}
.navbar img{
    width: 300px;
}
.pokeNav{
    background-color: white;
    padding: 2rem;
    width: 400px;
    font-size: 30px;
    height: 600px;
    font-family: var(--font-pokemon-red-fire);
    position: fixed;
    top: 85px;
    color: rgb(62, 62, 62);
    right: 0;
    text-shadow: 2px 2px 3px rgb(144, 144, 144) ;
    box-shadow: 2px 5px 3px rgb(71, 71, 71) ;
    border: 8px solid rgb(63, 52, 74);
    border-radius: 15px;
    display: flex;
    z-index: 99;
}
.pokeNav li{
    margin-left: 1rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
}
.arrowleft{
  width: 0; 
  height: 0; 
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  margin-right: 1rem;
  border-left: 16px solid transparent;
  transition: 0.4s all ease-in;
}
.pokeNav li:hover .arrowleft{
  border-left: 16px solid rgb(62, 62, 62);
}
.container {
  cursor: pointer;
  display: flex;
}
svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active svg {
  transform: rotate(90deg);
}
path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
  transform-origin: 36% 40%;
}
path:nth-child(2) {
  stroke-dasharray: 29 299;
}
path:nth-child(3) {
  transform-origin: 35% 63%;
}
path:nth-child(4) {
  stroke-dasharray: 29 299;
}
path:nth-child(5) {
  transform-origin: 61% 52%;
}
path:nth-child(6) {
  transform-origin: 62% 52%;
}
.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

@media screen and (max-width:400px) {
  .pokeNav{
    width: 100%;
  }
}