.Account{
    background-color: #f7ede5;
    margin: 0;
    opacity: 1;
    text-align: center;
    background-image: linear-gradient(0deg, #f7efe5 50%, #d0bfa3 50%);
    background-size: 7px 7px;
    height: 100vh;
    font-family: var(--font-pokemon-red-fire);
}
.pokeball {
  position: absolute;
  width: 800px;
  height: 800px;
  background: transparent;
  border: 150px solid #a3d0ae;
  border-radius: 50%;
  overflow: hidden;
  right:0 ;
}

.Account button{
    background-color: rgb(193, 76, 99);
    border-radius: 25px;
}