.signUpSection{
    background-color: #e7f7e5;
    margin: 0;
    opacity: 1;
    background-image: linear-gradient(0deg, #e5f7e5 50%, #a7d0a3 50%);
    background-size: 7px 7px;
    height: 100vh;
    font-family: var(--font-pokemon-red-fire);
}
.trainerCard{
    display: flex;
    justify-content: space-between;
    background-color: #a7d0a3;
    padding: 1rem;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 5rem 2rem;
    padding: 2rem;
    border-radius: 15px;
    border: 2px solid #4f5566;
    box-shadow: 2px 3px 2px #82899c;
    background-color: #a3d0ae;
}
.form input{
    padding: 1rem;
    outline: none;
    border-radius: 25px;
}
.pokeball {
  position: absolute;
  width: 800px;
  height: 800px;
  background: transparent;
  border: 150px solid #a3d0ae;
  border-radius: 50%;
  overflow: hidden;
  right:0 ;
}

.pokeball__button {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 300px;
  height: 300px;
  background: #a3d0ae;
  border: 10px solid #a3d0ae;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 10px #a3d0ae;
}
.buttonHover{
   padding: 0.5rem;
   display: flex;
   height: 60px;
   padding-left: 0;
   text-align: left;
   align-items: center;
   background-color: rgb(112, 66, 158);
   border: 5px solid rgb(50, 36, 57);
   border-radius: 25px;
   color: gainsboro;
   text-shadow: 5px 2px 3px rgb(87, 87, 87);
   transition: all 0.3s;
}
.formButtons{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.firstButton{
    margin-right: 25px;
}
.buttonHover:hover{
    background-color: rgb(157, 115, 200);
    border: 5px solid #e74c3c;
}
.buttonHover .pokeImage{
    position: relative;
    right: 30px;
    bottom: 5px;
    width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../Assets/pokeball.png);
}
.buttonHover:hover .pokeImage{
    background-image: url(../../Assets/pokeball\ open.png);
}

@media screen and (max-width:545px) {
    .formButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.firstButton{
    margin-right: 0;
}
}