.pokediv{
    display: grid;
    justify-content: center;
    row-gap: 75px;
    column-gap: 50px;
    grid-template-columns: repeat(auto-fill, 20rem);
}
.bigWrap{
    padding-top: 6rem;
    background-color: #a92403;
    opacity: 0.8;
    background-image: linear-gradient(0deg, #034ba9 50%, #085e78 50%);
    background-size: 6px 6px;
    height: 100%;
    width: 100%;
}
.home{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.home input{
    outline: none;
    width: 100%;
    padding: 0.5rem;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 1rem;
}
.form{
    display: flex;
}
.buttonNav{
  background-color: #a92403;
  padding:0.5rem;
  border: 5px solid #a92403;
  font-family: var(--font-pokemon-red-fire);
  transition: 0.5s all;
  border-radius: 5px;
}
.buttonNav:hover{
  border: 5px solid red;
  color: white;
}
.form .buttonForm{
    background-color: #a92403;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding:0.5rem;
    font-family: var(--font-pokemon-red-fire);
}
.form select{
    background-color: #085e78;
    padding-left: 1rem;
    outline: none;
    padding-right: 0;
}
.buttonRegion{
   background-color: #a92403;
   color: white;
   text-shadow: 3px 3px 3px black;
   padding: 1rem;
   border-radius: 15px;
   font-family: var(--font-pokemon-red-fire);
}
.pokeCard {
  background-color: white;
  width: 326px;
  height: auto;
  padding: 1rem;
  border-radius: 16px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-pokemon-red-fire);
  border: 2px solid gray;
}
.image{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(98, 101, 101);
  border-radius: 25px;
}
.nameandid{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nameandid h1{
  font-size: 25px;
}

.teamsMenu{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: blue;
}

.teamsMenuHide{
  display: none;
}

@media screen and (max-width:400px) {
  select{
    display: none;
  }
  .pokediv{
    display: flex;
    flex-direction: column;
  }

}